{{- $page := . -}}
{{- $title := $page.Title -}}
{{- $style := or $page.Params.doc_style "" -}}

{{- if eq $style "" -}}
  {{- if findRE "为什么读" $title -}}
    {{- $style = "why-read" -}}
  {{- else if findRE "主要价值" $title -}}
    {{- $style = "core-value" -}}
  {{- else if findRE "最值得记住的句子" $title -}}
    {{- $style = "key-sentences" -}}
  {{- else if findRE "最有价值的案例" $title -}}
    {{- $style = "cases" -}}
  {{- else if findRE "行动指南" $title -}}
    {{- $style = "action-guide" -}}
  {{- else if findRE "方法论总结" $title -}}
    {{- $style = "methodology" -}}
  {{- else if findRE "适用边界" $title -}}
    {{- $style = "boundaries" -}}
  {{- else if findRE "反例与失败条件" $title -}}
    {{- $style = "failure-modes" -}}
  {{- else if findRE "论证链与证据等级" $title -}}
    {{- $style = "evidence-map" -}}
  {{- else if findRE "迁移地图" $title -}}
    {{- $style = "transfer-map" -}}
  {{- else if findRE "复盘指标" $title -}}
    {{- $style = "review-metrics" -}}
  {{- end -}}
{{- end -}}

{{- return (dict "style" $style) -}}
